.main__title {
    color: hotpink;
}

.position__container > .position__box{
    width: 90px;
    height: 90px;
    border: 1px solid black;
    display: inline-block;
}

.position__box--green {
    background-color: green;
    position: static;
}

.position__box--red {
    background-color: red;
    position: relative;
    top: 40px;
    left: 40px;
}

.position__box--blue {
    background-color: blue;
    position:absolute;
    top: 10px;
}

.position__box--hot-pink {
    background-color: hotpink;
    position: sticky;
    top: 0px;
}

.position__container > .position__box:hover{
    background-color: yellow;
    color: red;
}

.position__box--purple {
    background-color: purple;
    position: fixed;
}

.z-index__image {
    position: absolute;
    z-index: -10;
    top: 10px;
    left: 10px;
}

.z-index__button {
    position: absolute;
    z-index: -11;
}

.animation__button {
    width: 160px;
    height: 30px;
    padding: 5px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.animation__button:hover {
    animation-name: rainbow;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

@keyframes rainbow {
    0% {
        background-color: blue;
        color: aqua;
        transform: rotate(90deg);
    }
    25% {background-color: red;
        transform: rotate(180deg);
    }
    50% {background-color: orange;
        transform: rotate(270deg);
    }
    75% {background-color: green;
        transform: rotate(360deg);}
    100% {background-color: purple;
        transform: rotate(90deg);
    }
}

.transform__container {
    width: 180px;
    height: 90px;
    background-color: hotpink;
    transform: translate(50px, 100px);
    transform: rotate(20deg);
    transform: scale(2, 3);
}